body {
    background-image: url(./img/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  .established {
    font-style: italic;
  }
  
  h1, h2, p {
    text-align: center;
  }
  
  .menu {
    background-color: burlywood;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    /* 防止宽屏，咖顺名和价格相距太远，不美观 */
    max-width: 500px;
  }
  
  img {
    /* 图片居中展示 需要2步 */
    display: block; /* 1. 设置为块级元素 */
    margin: 0 auto; /* 2. 设置左右外边距为auto */
  }
  
  hr {
    height: 2px;
    /* 水平线要实体展示，可将 background-color border-color 设为同种颜色 */
    background-color: brown;
    border-color: brown;
  }
  
  .bottom-line {
    margin-top: 25px;
  }
  
  h1, h2 {
    font-family: Impact, serif;
  }
  
  .item p {
    display: inline-block; /* 俩个p 要在同一行展示, p设置为行内块元素 */
    margin: 5px auto;
    font-size: 18px;
  }
  
  .flavor, .dessert {
    text-align: left;
    width: 75%; /* Coffee 名比价格长，所以名占大部份 设为75%，可防止总width较小时 名会换行 */
  }
  
  .price {
    text-align: right;
    width: 25%;
  }
  
  /* FOOTER */
  
  footer {
    font-size: 14px;
  }
  
  .address {
    margin-bottom: 5px;
  }
  
  a {
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:hover {
    color: brown;
  }
  
  a:active {
    color: brown;
  }